@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Split Gutter Styles */
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #e5e7eb;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: col-resize;
  transition: background-color 0.2s;
}

.gutter:hover {
  background-color: #2196F3;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}
